*{
    margin: 0;
    padding: 0;
}
.full-width{
    width:100%;

    background-color: black;
}
.container{
    width: 1170px;
    margin: 0 auto;
}
ul,ol{
    list-style-type: none;
}
a{
    text-decoration: none;
}

/*all common css */
.manu{
    text-align: center;
}
.manu ul li{
    display: inline-block;
    padding-left: 20px;
}
 .manu ul li a{
    position: relative;
    color: aliceblue;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;

 }
 .manu ul li a:hover{
    color:chocolate
 }
 .manu ul li ul{
    position: absolute;
    width: 100px;
    border-radius: 3px;
    background-color:black;
    opacity: 0;
    }

 .manu ul li:hover>ul{
    opacity: 1;
 }
 /* manu end */

 /* banner part start */
 
 
 .banner-image{
    background: url(../images/bannrt01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0 auto; 
 }
.overly{
    background: rgba(31, 1, 1, 0.212);
    color: azure;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
 }
.overly h3{
    color: white;
    font-size: 40px;
 }
.overly p{
    color: white;
    font-size: 20px;
 }
.overly button{
    background-color: rgb(0, 0, 0);
    font-size: 20px;
    color: white;
    padding: 10px 5px 10px 5px;
    border-radius: 5px;
    cursor: pointer;
    text-transform: uppercase;
    border-bottom: 4px solid white;
 }
/* banner part end */
 
/* donate part start */

#donate{
      padding-top: 80px;
      padding-bottom: 80px;
      }
.donate-text{
      text-align: center;
      }
.donate-text h3{
      color: black;
      font-size: 40px;
      text-transform: capitalize;
      }
.donate-text p{
      padding-top: 20px;
      font-size: 20px;
      font-weight: 400px;
      color: rgb(36, 16, 68);
      }
.donate-button{
      padding-top: 20px;
       }
.btn-donate{
      padding: 60px 60px;
      margin-left: 50px;
      border: 1px solid red;
      border-radius:5px ;
      }
.btn-donate:hover{
      background-color: rgba(36, 27, 27, 0.055);
      color: white;
      transition: all linear 3s;
    }
 .other-ammount{
      margin-top: 20px;
      width: 100%;
      
    }
 .ammount{
      width: 1500px;
      height: 50px;
      margin-left: 90px;
      margin-top: 30px;
    }
    .btn-ammount{
        margin-left: 50%;
    }
    .btn-ammount{
        background-color:black;
        font-size: 20px;
        color: white;
        cursor: pointer;
        border-radius: 5px;
        padding: 10px 5px 10px 5px;
        border: none;
        margin-top: 20px;
        text-transform: uppercase;
        border-bottom: 4px solid white;
    }
    
    
 /* donate part end */

 /* card part start */

 .section{
    width: 1700px;
    height: 500px;
    margin: 0 auto;
 }
 .card-1{
    margin-top: 30px;
    float: left;
    margin-left:50px;
    width: 390px;
    height: 400px;
    background-color: steelblue;
 }
 .card-1 h3{
    color: black;
    font-size: 40px;
  margin-top: 90px;
  margin-left: 50px  ;
 }
 .card-1 p{
    margin-top: 30px;
    margin-left: 50px;
    color: black;
    font-size: 20px;
 }
 
 .card-2{ 
    margin-top: 30px;
    float: left;
    margin-left:50px;
    width: 390px;
    height: 400px;
    background-color: palevioletred;
 }
 .card-2 h3{
    color: black;
    font-size: 40px;
  margin-top: 90px;
  margin-left: 50px  ;
 }
 .card-2 p{
    margin-top: 30px;
    margin-left: 50px;
    color: black;
    font-size: 20px;
 }

 .card-3{
    margin-top: 30px;
     float: left;
    margin-left: 50px;
    width: 390px;
    height: 400px;
    background-color: coral;

 }
 .card-3 h3{
    color: black;
    font-size: 40px;
  margin-top: 90px;
  margin-left: 50px  ;
 }
 .card-3 p{
    margin-top: 30px;
    margin-left: 50px;
    color: black;
    font-size: 20px;
 }
 /* card part end */

 /* need part start */

 #need{
   padding-top:80px ;
   padding-bottom: 80px;

 }
  .need h3{
   padding-bottom: 30px;
   font-size: 60px;
   text-align: center;
   color: black;
 }
 .need p{
    padding-bottom: 50px;
   font-size: 20px;
   text-align: center;
   color: black;
 }
 .need-card-1{
   width: 370px;
   height: 2000px;
   background-color: blue;
    
}
.need-card-2{
   float: left;
   width: 800px;
   height: 2000px;
   background-color: brown;
}
.need-image-1{
   width: 300px;
}
/* need part end */

 
 


 